body {
  background-color: rgb(255,246,230);
  font-family: "Arial";
}

.post {
  text-align: center;
  margin: 50px;
}

.wordscontent {
  text-align: center;
  color: grey;
  padding: 20px 0 20px 0;
}

.imagecontainer {
  display: inline-block;
  text-align: center;
  margin: auto;
}

.wordsinpic {
  text-align: auto;
  height: 100%;
  padding: 55% 0 55% 0;
  color: white;
}

.image1 {
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-airbnb/img/san-francisco.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  padding:
}

.image2 {
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-airbnb/img/new-york.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
}

.image3 {
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-airbnb/img/london.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
}

.image4 {
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-airbnb/img/napa.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  padding:
}

.image5 {
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-airbnb/img/sonoma.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  padding:
}
.image6 {
  background-image: url("/Users/hiko_seijuro1000/Desktop/MessingWithCode/Lesson-2/Homework/css-airbnb/img/san-francisco-2.jpg");
  background-size: cover;
  background-position: center;
  width: 200px;
  display: inline-block;
  text-align: center;
  margin: 10px 10px;
  padding:
}

.clickme {
  margin: 20px;
}

.clickable {
  padding: 5px 45px 5px 45px;
}
